<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.semi.tattoo.tag">

	<resultMap type="tagDto" id="tagDtoMap">
		<result property="im_no" column="IM_NO" />
		<result property="ta_labeltag" column="TA_LABELTAG" />
		<result property="ta_texttag" column="TA_TEXTTAG" />
	</resultMap>

	<insert id="insertTag" parameterType="map">
		<foreach collection="list" item="item" open="INSERT ALL"
			separator=" " close=" SELECT * FROM DUAL ">
			INTO TAG (IM_NO,TA_LABELTAG, TA_TEXTTAG)
			VALUES
			(#{item.im_no}, #{item.ta_labeltag}, #{item.ta_texttag})
		</foreach>
	</insert>
	<delete id="deleteTagList" parameterType="tagDto">
		DELETE FROM TAG
		WHERE
		<if test="im_no_list !=null">
		IM_NO IN
			<foreach collection="im_no_list" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach >
		</if>
	</delete>
	<select id="selectList" parameterType="int" resultMap="tagDtoMap">
		SELECT IM_NO, TA_LABELTAG, TA_TEXTTAG
		FROM TAG
		WHERE IM_NO = #{im_no}
	</select>
</mapper>
